.userConfig-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 32.2rem;
  font-weight: 600;
  padding: 10px;
  position: absolute;
  top: 80px;
  right: 350px;
  background-color: white;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
  box-shadow: var(--sombra);
}
.userConfig-container.show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.config-options {
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  margin-left: 0;
  transition: margin-left 0.2s ease;
}
.config-options:hover {
  margin-left: 10px;
}
.person-remove {
  color: red;
}
