.user-container {
  border-radius: 10px;
  font-weight: 600;
  box-shadow: var(--sombra);
  position: absolute;
  background-color: white;
  width: 13.7rem;
  padding: 20px 10px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  right: 350px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.user-container.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.user-option {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}
.user-option:hover {
  margin-left: 10px;
}
