.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5rem;
  min-width: 20rem;
  background-color: white;
  box-shadow: 0 0 7px black;
}
.dropdown {
  position: relative;
  width: 28rem;
  background: linear-gradient(var(--verdeClaro), var(--verdeEscuro));
  border-radius: 5rem;
  border: 1px solid white;
  cursor: pointer;
}
.dropdown-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding: 1rem 1.5rem;
}
.dropdown-list {
  z-index: 3;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: white;
  transition: max-height 0.5s;
}
#list.show {
  max-height: 30rem;
}
.dropdown-list-item {
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left 0.2s ease, color 0.2s ease;
}
.dropdown-list-item:hover {
  margin-left: 0.5rem;
  color: var(--verdeEscuro);
}
.search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: #211b15;
}
.search-box input {
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #211b15;
  background-color: transparent;
  border: 0;
  outline: 0;
}
#filter-icon {
  margin-right: 0.5rem;
  opacity: 1;
}
.search-box span {
  cursor: pointer;
}

@media (max-width: 450px) {
  .search-bar {
    position: absolute;
    top: clamp(1rem, 20vw, 20vw);
    left: 50%;
    transform: translateX(-50%);
    width: clamp(1rem, 90vw, 90rem) !important;
    height: clamp(1rem, 10vw, 10rem);
  }
  .search-bar input::placeholder {
    font-size: clamp(
      0.5rem,
      3.5vw,
      3.5vw
    ); /* ajuste os valores como preferir */
  }
  .dropdown {
    width: clamp(0.5rem, 50vw, 50rem);
    height: clamp(1rem, 10vw, 10rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
  }
  .dropdown span {
    font-size: clamp(0.5rem, 3.5vw, 3.5rem);
  }
  .search-box span {
    font-size: clamp(1rem, 6vw, 6rem);
  }
  .dropdown-text {
    width: 100%;
  }
}
