.filters-selected {
  display: flex;
  position: fixed;
  gap: 1rem;
  top: 8.5rem;
  left: 50%;
  transform: translateX(-65%);
  display: none;
  width: 550px;
  align-items: center;
}
.filters-selected.show {
  display: flex;
}
.filter-selected {
  width: 15rem;
  height: 2.9rem;
  background: linear-gradient(var(--verdeClaro), var(--verdeEscuro));
  border-radius: 2rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 18px;
  color: white;
  box-shadow: 0 0 7px black;
  font-weight: 500;
}
.filter-selected span {
  font-size: 20px;
  cursor: pointer;
}
.filtro-texto {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px !important;
}
@media (max-width: 450px) {
  .filters-selected {
    width: clamp(1rem, 90vw, 300rem);
    left: 66%;
    top: clamp(1rem, 15vw, 8rem);
  }
  .filter-selected {
    width: clamp(1rem, 30vw, 200rem);
    height: clamp(0.1rem, 8vw, 100rem);
    padding: clamp(0.8rem, 3vw, 100rem);
  }
  .filtro-texto {
    font-size: clamp(0.7rem, 3vw, 100rem) !important;
  }
  .filter-selected span {
    font-size: clamp(1rem, 4vw, 100rem);
  }
}
@media (min-width: 451px) and (max-width: 1023px) {
  .filters-selected {
    top: clamp(6rem, 6vw, 100rem);
    left: 360px;
  }
  .filter-selected {
    width: clamp(15rem, 20vw, 100rem);
  }
}
@media (min-width: 1024px) {
  .filters-selected {
    transform: none;
    left: 0;
    bottom: 700px;
    position: absolute;
  }
}
