.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  top: 0;
  z-index: 1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.header-container.scrolled {
  background-color: white;
  box-shadow: 0 0 7px black;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 124rem;
  align-items: center;
}
.header > ul {
  display: flex;
  gap: 30rem;
}
.header-logo {
  width: 13rem;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.293));
}
.header-nav {
  display: flex;
}
.header-nav > ul {
  display: flex;
  gap: 4rem;
  list-style-type: none;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
}
.header-nav ul > li {
  cursor: pointer;
  color: var(--azulEscuro);
}
.header-nav ul > li a {
  color: var(--azulEscuro);
  text-decoration: none;
}
.darkModeToggle {
  display: flex;
}
.header__loginBtn {
  border: 1px solid var(--verdeEscuro);
  border-radius: 2rem;
  padding: 1.2rem;
}
.header__loginBtn:hover {
  background: linear-gradient(var(--verdeClaro), var(--verdeEscuro));
  color: white;
  transition: background-color 0.3s ease, color 0.3s;
}
.login-register-buttons,
.icons-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.icons-buttons span {
  cursor: pointer;
}
.icons-buttons > .notification-btn {
  font-size: 26px;
}
.icons-buttons > .conta-btn {
  font-size: 45px;
}
.conta-btn {
  font-size: 100px;
}
.user-widget {
  width: 137px;
  height: 182px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 8.5rem;
  right: 35rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.252);
  visibility: hidden;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  display: flex;
}
.user-widget.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.user-widget hr {
  opacity: 20%;
}
.logout-btn,
.config-btn,
.save-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.logout-btn,
.config-btn,
.save-btn p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.login-register-buttons {
  display: flex;
}
.user-page {
  width: 329px;
  height: 239px;
  position: absolute;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  top: 8.5rem;
  right: 32rem;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.252);
}
.user-name-icon {
  background-color: #f4f4f4;
  height: 108px;
  width: 100%;
}
.user-page h5 {
  font-size: 16px;
  cursor: pointer;
}
.container-dados {
  width: 100%;
}
.user-email-senha {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 30px;
}
.user-edit h3,
.user-email-senha h3 {
  font-size: 14px;
}
.user-edit p,
.user-email-senha p {
  font-size: 12px;
}
.user-name-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.user-name-icon > .material-symbols-outlined {
  margin-left: 24px;
  font-size: 70px;
}
.dark-mode {
  background-color: rgba(21, 26, 39, 1);
  color: white;
}

@media (max-width: 450px) {
  .header-logo {
    width: clamp(1rem, 35vw, 35vw);
  }
  .header-container {
    height: clamp(1rem, 20vw, 20rem);
  }
  .header {
    width: 90%;
  }
  .header-nav > ul {
    gap: clamp(1rem, 5vw, 5vw);
  }
  #info-icon,
  #dark-mode-icon,
  #login-icon,
  #map-icon {
    font-size: clamp(1rem, 7vw, 7vw);
    cursor: pointer;
    display: flex;
    color: var(--azulEscuro);
  }
  .btnRegister-popup,
  .darkModeToggle,
  .btnLogin-popup,
  #ajuda-btn,
  #map-btn {
    display: none;
  }
}
@media (min-width: 451px) and (max-width: 1023px) {
  .header-logo {
    width: clamp(10rem, 12vw, 12vw);
  }
  .header-nav ul > li {
    font-size: clamp(1rem, 1.3vw, 1.3vw);
  }
  .header {
    width: 80%;
  }
  .header-nav > ul {
    gap: 2rem;
  }
  #info-icon,
  #dark-mode-icon,
  #login-icon,
  #map-icon {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header {
    width: 80%;
  }
  .header-logo {
    width: clamp(1rem, 15vw, 15rem);
  }
  .header-nav ul > li {
    font-size: clamp(1.2rem, 0.8vw, 1.5rem);
  }
  #info-icon,
  #dark-mode-icon,
  #login-icon,
  #map-icon {
    display: none;
  }
}
